<!-- Start Related Widget -->
<div class="recent-posts">
  {{#get "posts" limit="3" page="1" include="tags" filter="id:-{{id}}+primary_tag:{{primary_tag.slug}}"  as |related|}}
    {{#foreach related}}
      <a href="{{url}}">
      <div class="single-post">
        <div class="featured-image" style="background:url({{img_url feature_image}})"></div>
        <div class="related-post-info">
          <span class="related-post-title">{{title}}</span>
        </div>
      </div>
    </a>
    {{/foreach}}
  {{/get}}
</div>
<!-- End Related Widget -->
