<!-- start copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{{t "Copyright"}} &copy; {{date format="YYYY"}}, <a href="{{@blog.url}}">{{@blog.title}}</a>.  {{t "All right Reserved."}}
			</div>
		</div>
	</div>
</div>
<!-- end copyright section -->