{{! Series Page with background image}}
{{#tag}}
	{{#if feature_image}}
		<div class="cover tag-cover series-cover" style="background-image: url({{img_url feature_image absolute="true"}});">
	<h3 class="tag-name">
		<i class="fal fa-tag"></i> {{name}}
	</h3>
	<div class="post-count">
		{{plural pagination.total empty=(t "No posts") singular=(t "1 Post") plural=(t "% Posts")}}
	</div>
	{{#if description}}
		<div class="tag-description">
			{{description}}
		</div>
		</div>
	{{/if}}

{{! Regular tag page}}
	{{else}}
		<div class="cover">
			<h3 class="tag-name">
				<i class="fal fa-tag"></i> {{name}}
			</h3>
			<div class="post-count">
				{{plural pagination.total empty=(t "No posts") singular=(t "1 Post") plural=(t "% Posts")}}
			</div>
			{{#if description}}
				<div class="tag-description">
					{{description}}
				</div>
				{{/if}}
		</div>
		{{/if}}
{{/tag}}
