<!-- start main-footer -->
	<footer class="main-footer">
				<!-- start first footer widget area -->
					{{> widget-recentpost}}
				<!-- end first footer widget area -->
				<!-- start second footer widget area -->

					{{#is "post"}}
						{{#is "page"}}
							{{> widget-authors}}
						{{else}}
							{{#post}}
								{{> widget-relatedpost}}
							{{/post}}
						{{/is}}
					{{else}}
						{{> widget-authors}}
					{{/is}}

				<!-- end second footer widget area -->
				<!-- start third footer widget area -->
					{{> widget-tagcloud}}
				<!-- end third footer widget area -->
	</footer>
	<!-- end main-footer -->

	{{ghost_foot}}
	<!-- scripts -->
  <!--<script src="{{asset "/js/includes/jquery.min.js"}}"></script>-->
	  <!--<script src="{{asset "/js/includes/jquery.fitvids.js"}}"></script>-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>-->
	<script src="{{asset "/js/includes/highlight.pack.js"}}"></script>
	<script src="{{asset "/js/main.min.js"}}"></script>
	{{#has author="Matt Alhonte"}}<script src="{{asset "/js/includes/previews.js"}}"></script>{{/has}}



</body>
</html>
