<!-- start header -->
<nav class="main-navigation">
		{{navigation}}
</nav>
<header class="main-header videoHeader">
		<!-- start logo -->
	{{#if @blog.logo}}
		<a class="branding" href="{{@blog.url}}"><img src="https://res.cloudinary.com/hackers-and-slackers/image/upload/images/{{@blog.logo}}" alt="{{@blog.title}}"></a>
	{{else}}
		<a class="branding" href="{{@blog.url}}">{{@blog.title}}</a>
	{{/if}}
	<!-- start navigation -->

</header>
