<header>
  <div class="banner">
    <div class="search form-group">
    	<i class="far fa-search"></i><input id="my-custom-input" class="icon" placeholder="Search all posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search all posts'" label="search">
		</div>
    <div id="my-custom-results"></div>
    {{#if @site.logo}}
  		<a class="logo" href="{{@site.url}}">
        <img src="{{@site.logo}}" alt="{{@site.title}}" data-rjs="2">
      </a>
  	{{else}}
  		<a class="branding" href="{{@site.url}}" name="{{@site.title}}">{{@site.title}}</a>
  	{{/if}}
  </div>
  <nav class="navigation">
  		{{navigation}}
  </nav>
</header>
