<header>
  <div class="banner">
    {{#if @site.logo}}
  		<a class="logo" href="{{@site.url}}">
        <img src="{{@site.logo}}" alt="{{@site.title}}" data-rjs="3">
        <!-- <img src="https://res.cloudinary.com/hackers-and-slackers/image/upload/v1544107494/images/logowhite_long.png" alt="{{@site.title}}" data-rjs="3"> -->
        <!--<img src="https://res.cloudinary.com/hackers-and-slackers/image/upload/v1544107494/images/logowhite_long.png" alt="{{@site.title}}" data-rjs="3">-->
      </a>
  	{{else}}
  		<a class="branding" href="{{@site.url}}">{{@site.title}}</a>
  	{{/if}}
  </div>
  <nav class="navigation">
  		{{navigation}}
  </nav>
</header>
