<!-- start header -->
<header class="main-header">
	<!-- start logo -->
	<a class="mobile-branding" href="{{@blog.url}}"><img src="https://hackers.nyc3.digitaloceanspaces.com/logowhite.png"></a>
	{{#if @blog.logo}}
		<a class="branding" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
	{{else}}
		<a class="branding" href="{{@blog.url}}">{{@blog.title}}</a>
	{{/if}}
	<!-- start navigation -->
	<nav class="main-navigation">
		<div id="main-menu">
			{{! insert navigation partial}}
			{{navigation}}
				{{! insert manuala navigation if there is no navigation}}
				{{#unless @blog.navigation}}
					{{> manual-navigation}}
				{{/unless}}
		</div>
	</nav>
</header>
<!-- end header -->

<!-- end navigation -->
