<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- start header -->
<nav class="main-navigation">
		{{navigation}}
</nav>
<header class="main-header videoHeader">
		<!-- start logo -->
	{{#if @blog.logo}}
		<a class="branding" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
	{{else}}
		<a class="branding" href="{{@blog.url}}">{{@blog.title}}</a>
	{{/if}}
	<!-- start navigation -->

	{{^is "post"}}
	<video class="videoObject" autoplay muted loop id="myVideo">
		<source src="https://hackersandslackers.com/assets/vid/bg2.mp4" type="video/mp4">
	</video>
	{{/is}}
</header>
{{!--
<header class="main-header">
	<!-- start logo -->
	<a class="mobile-branding" href="{{@blog.url}}"><img src="https://hackers.nyc3.digitaloceanspaces.com/logowhite.png"></a>
	{{#if @blog.logo}}
		<a class="branding" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
	{{else}}
		<a class="branding" href="{{@blog.url}}">{{@blog.title}}</a>
	{{/if}}
	<!-- start navigation -->
	<nav class="main-navigation">
		<div id="main-menu">
			{{! insert navigation partial}}
			{{navigation}}
				{{! insert manuala navigation if there is no navigation}}
				{{#unless @blog.navigation}}
					{{> manual-navigation}}
				{{/unless}}
		</div>
	</nav>
</header>
<!-- end header -->
--}}
<!-- end navigation -->
