<!-- start header -->
<nav class="main-navigation">
		{{navigation}}
</nav>
<header class="main-header videoHeader">
		<!-- start logo -->
	{{#if @blog.logo}}
		<a class="branding" href="{{@blog.url}}"><img src="https://res.cloudinary.com/hackers-and-slackers/image/upload/v1544107494/images/logowhite_long.png" alt="{{@blog.title}}" data-rjs="3"></a>
	{{else}}
		<a class="branding" href="{{@blog.url}}">{{@blog.title}}</a>
	{{/if}}
	<!-- start navigation -->
</header>
