<!-- Start Post Preview -->
<article class="post-preview {{#primary_author}}{{slug}}{{/primary_author}}">
  <a href="{{url}}">
    {{#if featured}}
      <div class="featured">
        <i class="far fa-star"></i>
      </div>
    {{/if}}

    {{#if feature_image}}
      <picture class="post-image">
        <source class="lazy lazyload" alt="{{title}}" loading="lazy" media="(max-width: 600px)" srcset="{{img_url feature_image size="medium"}} 1x, {{img_url feature_image size="medium_retina"}} 2x">
        <source class="lazy lazyload" alt="{{title}}" loading="lazy" srcset="{{img_url feature_image size="large"}} 1x, {{img_url feature_image size="large_retina"}} 2x">
        <img class="lazy lazyload" alt="{{title}}" loading="lazy" src="{{img_url feature_image}}">
      </picture>
    {{/if}}

    <div class="content">
      <div class="post-head">
        <h2 class="post-title"><a href="{{url}}" class="title-link">{{{title}}}</a></h2>
        <h3 class="post-excerpt">{{excerpt words="60"}}</h3>
      </div>

      <div class="post-permalink">
        <div class="meta">
          {{#primary_tag}}
            <a href="{{url}}" class="tags meta-item {{slug}}"><i class="far d fa-tags"></i> <span>{{name}}</span></a>
          {{/primary_tag}}
          {{#primary_author}}
            {{primary_author.bio}}
            <a href="{{url}}" class="meta-item author">
              <i class="far fa-user-edit" style="width:18px; height:18px; display:inline-block; margin-right:10px;"></i>
              <span>{{name}}</span>
            </a>
          {{/primary_author}}
          <span class="date meta-item">
            <i class="far d fa-calendar"></i>
            <span>{{date published_at format="MMM DD"}}</span>
          </span>
        </div>
        <a href="{{url}}" class="btn btn-default">{{t "Continue Reading"}}</a>
      </div>
    </div>
  </a>
</article>
<!-- End Post Preview -->
