<article class="post-preview">
  {{#if featured}}
    <div class="featured">
      <i class="far fa-star"></i>
    </div>
  {{/if}}

  {{#if feature_image}}
        <a href="{{url}}" class="featured-media">
          <div class="post-card-image" style="background-image: url({{img_url feature_image size="m"}})"></div>
        </a>
  {{/if}}

  <div class="content">
    <div class="post-head">
      <h2 class="post-title"><a href="{{url}}" class="title-link">{{{title}}}</a></h2>
        <h5 class="post-excerpt">{{excerpt words="40"}}</h5>
    </div>
    {{^has tag="Roundup"}}
      <div class="post-content">
        {{content words="60"}}
      </div>
    {{/has}}

    <div class="post-permalink">
      <div class="meta">
        {{#primary_tag}}
            <span class="tags meta-item {{slug}}"><i class="fas fa-tags"></i> <span>{{name}}</span></span>
        {{/primary_tag}}
        {{#primary_author}}
        {{primary_author.bio}}
          {{#unless profile_image}}
            <a href="{{url}}" class="meta-item author"><i class="fas fa-user" style="width:18px; height:18px; display:inline-block; margin-right:10px;"></i><span>{{name}}</span></a>
            <a href="{{url}}" class="author-mobile"><i class="fas fa-user" style="width:18px; height:18px; display:inline-block; margin-right:10px;"></i><div class="info"><span>{{slug}}</span><span class="mobile-date">{{date format="MMM DD"}}</span></div></a>
          {{/unless}}
          {{#if profile_image}}
            <a href="{{url}}" class="meta-item author"><img src="{{img_url profile_image}}" alt="{{name}} avatar" class="avi" data-rjs="3"><span>{{name}}</span></a>
            <a href="{{url}}" class="author-mobile"><img src="{{img_url profile_image}}" alt="{{name}} avatar" class="avi" data-rjs="3"><div class="info"><span class="mobile-name">{{slug}}</span><span class="mobile-date">{{date format="MMM DD"}}</span></div></a>
          {{/if}}
        {{/primary_author}}
        <span class="date meta-item"><i class="fal fa-calendar"></i> <span>{{date format="MMM DD"}}</span></span>
      </div>
      <a href="{{url}}" class="btn btn-default">{{t "Continue Reading"}}</a>
    </div>
  </div>
</article>
