<article class="post-preview">
<a href="{{url}}">
  {{#if featured}}
    <div class="featured">
      <i class="far fa-star"></i>
    </div>
  {{/if}}

  {{#if feature_image}}
      <picture class="featured-media">
        <source alt="{{title}}" media="(max-width: 600px)" loading="lazy" srcset="{{img_url feature_image size="medium"}} 1x, {{img_url feature_image size="medium_retina"}} 2x">
        <source alt="{{title}}" loading="lazy" srcset="{{img_url feature_image size="large"}} 1x, {{img_url feature_image size="large_retina"}} 2x">
        <img alt="{{title}}" loading="lazy" class="lazy" src="{{img_url feature_image}}">
    </picture>
    <!--<img class="post-image"
    srcset="{{img_url feature_image size="small"}} 300w,
            {{img_url feature_image size="medium"}} 600w,
            {{img_url feature_image size="large"}} 1000w,
            {{img_url feature_image size="extralarge"}} 1500w"
    sizes="(max-width: 1000px) 400px, 700px"
    src="{{img_url feature_image size="m"}}"
    alt="{{title}}"
/>-->
  {{/if}}

  <div class="content">
    <div class="post-head">
      <h2 class="post-title"><a href="{{url}}" class="title-link">{{{title}}}</a></h2>
        <h3 class="post-excerpt">{{excerpt words="60"}}</h3>
    </div>

    <div class="post-permalink">
      <div class="meta">
        {{#primary_tag}}
            <a href="{{url}}" class="tags meta-item {{slug}}"><i class="fas fa-tags"></i> <span>{{name}}</span></a>
        {{/primary_tag}}
        {{#primary_author}}
          {{primary_author.bio}}
          {{#if profile_image}}
            <a href="{{url}}" class="meta-item author"><img src="{{img_url profile_image}}" alt="{{name}} avatar" loading="lazy" class="avi lazy"><span>{{name}}</span></a>
            <a href="{{url}}" class="author-mobile"><img src="{{img_url profile_image}}" alt="{{name}} avatar" loading="lazy" class="avi lazy"><div class="info"><span class="mobile-name">{{slug}}</span><span class="mobile-date">{{date format="MMM DD"}}</span></div></a>
          {{else}}
            <a href="{{url}}" class="meta-item author"><i class="fal fa-user" style="width:18px; height:18px; display:inline-block; margin-right:10px;"></i><span>{{name}}</span></a>
            <a href="{{url}}" class="meta-item author-mobile"><i class="fal fa-user" style="width:18px; height:18px; display:inline-block; margin-right:10px;"></i><div class="info"><span class="mobile-name">{{slug}}</span><span class="mobile-date">{{date format="MMM DD"}}</span></div></a>
          {{/if}}
        {{/primary_author}}
        <span class="date meta-item"><i class="fal fa-calendar"></i> <span>{{date format="MMM DD"}}</span></span>
      </div>
      <a href="{{url}}" class="btn btn-default">{{t "Continue Reading"}}</a>
    </div>
  </div>
</a>
</article>
