<!-- Start Post Preview -->
<article class="post-preview {{#primary_author}}{{slug}}{{/primary_author}}">

  <div class="post-preview-side">
    {{#primary_tag}}
    <span class="primary-tag {{slug}}">
        {{name}}
    </span>
    {{/primary_tag}}
  </div>


  <div class="post-preview-body">
    <div class="post-head">
      <span class="date">{{date published_at format="DD MMM YYYY"}}</span>
      <h2 class="post-title"><a href="{{url}}" class="title-link">{{{title}}}</a></h2>
      <span class="post-excerpt">{{excerpt words="60"}}</span>
    </div>

    {{#if feature_image}}
      {{^has tag="roundup"}}
        <a href="{{url}}" class="post-image">
          <img class="featured-image lazyload" alt="{{title}}" loading="lazy" src="{{img_url feature_image}}" data-rjs="2">
        </a>
        {{/has}}
    {{/if}}
    <div class="preview-content">{{content words=100}}</div>
    <a href="{{url}}" class="read-link">{{t "Continue Reading"}}</a>
  </div>

</article>
<!-- End Post Preview -->
