<!-- start widget -->
<div class="widget">
	<h4 class="title">Contributors</h4>
	<div class="content recent-post">
		{{#get "users"}}
			{{#foreach users}}
				<div class="single-author">
					{{#if profile_image}}
        		<a href="{{url}}"><img src="{{img_url profile_image}}" alt="Author image" style="width:18px; height:18px; display:inline-block; margin-right:10px;"></a>
					{{else}}
						<a href="{{url}}"><i class="fas fa-user" style="width:18px; height:18px; display:inline-block; margin-right:10px;"></i></a>
					{{/if}}
					<a href="{{url}}" class="single-author-name">{{name}}</a>
				</div>
				{{/foreach}}
			{{/get}}
			</div>
</div>
<!-- end widget -->
