<!-- start widget -->
<div class="widget">
	<h4 class="title">Contributors</h4>
	<div class="recent-post">
		{{#get "users"}}
			{{#foreach users}}

				<div class="single-author" data-value="{{slug}}">
					{{#unless profile_image}}
						<a href="{{url}}"><i class="fas fa-user" style="width:18px; height:18px; display:inline-block; margin-right:10px;"></i></a>
					{{/unless}}
					{{#if profile_image}}
        		<a href="{{url}}"><img src="{{img_url profile_image}}" alt="Author image" class="avi"></a>
					{{/if}}
					<div class="info">
						<a href="{{url}}" class="single-author-name">{{name}}</a>
						<span class="role"></span>
					</div>
				</div>
				<script>
				function getTitles(){
					stitchClient.auth.loginWithCredential(new AnonymousCredential()).then(
						Stitch.defaultAppClient.callFunction("AuthorTitle", "{{slug}}").then(result => {
								console.log(result);
								return result['title'];
							})
					)
				}
					$('.{{slug}} .role').text(getTitles());
				</script>
				{{/foreach}}
			{{/get}}
			</div>
</div>
<!-- end widget -->
