<!-- start tag cloud widget -->
<div class="widget series">
	<h3 class="title">Series'</h3>
	<div>
		{{#get "tags" limit="9" filter="feature_image:-null" include="count.posts,meta_title,slug" order="count.posts DESC"}}
    {{#foreach tags}}
      <div class="recent-single-post series-item {{slug}}">
				<div class="series-image" style="background:url(https://res.cloudinary.com/hackers-and-slackers/image/upload/images/{{img_url feature_image}})"></div>
				<div class="series-info">
        <a href="{{url}}" class="post-title">{{meta_title}}</a>
        {{!--<span class="count">{{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}</span>--}}
        {{#if description}}
          <p class="description">{{description}}</p>
        {{/if}}
      </div>
		</div>
    {{/foreach}}
    {{/get}}
	</div>
</div>
<!-- end tag cloud widget -->
