<!-- start series widget -->
<div class="widget series">
	<h3 class="title">Series'</h3>
	<div>
		{{#get "tags" filter="feature_image:-null" include="count.posts,meta_title,slug" order="count.posts DESC"}}
    {{#foreach tags visibility="internal"}}
      <div class="seriesitem {{slug}}">
				<div class="series-image"></div>
				<div class="series-info">
        <a href="/series/{{slug}}/" class="post-title"><span style="display:inline-block; line-height:1;">{{meta_title}}</span></a>
        {{!--<span class="count">{{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}</span>--}}
        {{#if description}}
          <p class="description">{{description}}</p>
        {{/if}}
      </div>
		</div>
    {{/foreach}}
    {{/get}}
	</div>
</div>
<!-- end series cloud widget -->
