{{!< transactional}}
<!DOCTYPE html>
<html lang="{{lang}}" class="transactional">

<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	{{! Styles }}
	<script src="{{asset "/js/includes/jquery.min.js"}}"></script>
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}">

{{ghost_head}}
</head>

<body class="transactional signup-template">
	<!-- start site's main content area -->
		{{#post}}
				<!-- start post -->
				<div class="card">
						<h1>{{{title}}}</h1>
						<div class="post-content">
							{{content}}
							<div id="finished-registration">
								<a class="btn btn-success" href="/">You did it!</a>
							</div>
						</div>
				</div>
		{{/post}}

<script>
	const url = window.location.search;
	const params = new URLSearchParams(url);
	const token = params.get('token');
	const tokenId = params.get('tokenId');

	return emailPassClient.confirmUser(token, tokenId);
</script>
</body>
</html>
