{{!< default}}
<!-- start site's main content area -->
<div class="page-container sidebar-layout">
	<div class="main-content">
		<!-- start post -->
		{{#post}}
			<section class="{{post_class}}">
				<div class="page-head">
					<h1 class="page-title">{{{title}}}</h1>
				</div>
				<div class="post-content">
					{{content}}
				</div>
				<main class="tag-container">
					{{#get "tags" filter="feature_image:-null" include="count.posts,meta_title" order="count.posts desc" limit="all"}}
						{{#foreach tags visibility="internal"}}
							<div class="tag-wrapper">
								<a href="/series/{{slug}}" title="{{name}}">
									<div class="img-wrapper">
										<picture>
											<source class="lazy" loading="lazy" media="(min-width: 1200px)" srcset="{{img_url feature_image size="medium"}} 1x, {{img_url feature_image size="medium_retina"}} 2x">
											<img alt="{{title}}" class="lazy" loading="lazy" src="{{img_url feature_image}}">
										</picture>
									</div>
									<div class="description">
										<h2>{{meta_title}}</h2>
										<p>{{description}}</p>
										<span class="postcount">{{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}</span>
									</div>
								</a>
							</div>
						{{/foreach}}

					{{/get}}
				</main>
			</section>
	</div>
	{{> sidebar}}

</div>
{{/post}}
{{#contentFor "scripts"}}
	<script async src="{{asset "js/tag.js"}}"></script>
{{/contentFor}}
<!-- end post -->
<!-- end site's main content area -->
