{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#contentFor "series_page"}}gh-head-transparent{{/contentFor}}
<!-- start site's main content area -->
<section class="content-wrap archive">
	<div class="container">
			<!-- start main post area -->
			{{> sidebar}}
			<div class=" main-content">
				<!-- start post -->
				{{#post}}
					<section class="{{post_class}} post-preview">
						<div class="page-head">
							<h1 class="page-title">{{{title}}}</h1>
						</div>
						<div class="post-content">
							{{content}}
						</div>
						<main class="tag-container">
							{{> cover-tag}}
							{{#get "tags" filter="feature_image:-null" include="count.posts,meta_title" order="count.posts desc" }}
								{{#foreach tags visibility="internal"}}
									<div class="tag-wrapper">
										<a href="{{slug}}">
											{{#if feature_image}}
											<picture>
												<source media="(min-width: 1200px)" srcset="{{img_url feature_image size="medium"}} 1x, {{img_url feature_image size="medium_retina"}} 2x">
												<img alt="{{title}}" class="lazy" src="{{img_url feature_image}}">
										</picture>
											{{/if}}
											<div class="description">
												<h2>{{meta_title}}</h2>
												<p>{{description}}</p>
												<span class="postcount">{{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}</span>
											</div>
										</a>
									</div>
								{{/foreach}}
						{{/get}}
					</main>
			</div>
		</section>
			{{/post}}
			<!-- end post -->
		<!-- end main post area -->
	</div>
</section>
<!-- end site's main content area -->
