{{!< transactional}}
<!DOCTYPE html>
<html lang="{{lang}}" class="transactional">

<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	{{! Styles }}
	<script src="{{asset "/js/includes/jquery.min.js"}}"></script>
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}">
	<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.8/stitch.js"></script>
</head>

<body class="transactional signup-template">
	<!-- start site's main content area -->
	{{#post}}
		<!-- start post -->
		<div class="card">
			<h1>{{{title}}}</h1>
			<div class="post-content">
				{{content}}
				<p id="message"></p>
				<div id="finished-registration">
					<a class="btn btn-success" href="/">You did it!</a>
				</div>
			</div>
		</div>
	{{/post}}

	<script>
	const {
	  Stitch,
	  UserPasswordAuthProviderClient,
	  UserPasswordCredential
	} = stitch;

  const stitchClient = Stitch.initializeDefaultAppClient('hackers-uangn');

  const emailPasswordClient = stitchClient.auth.getProviderClient(UserPasswordAuthProviderClient.factory);

	const url = window.location.search;
	const params = new URLSearchParams(url);
	const token = params.get('token');
	const tokenId = params.get('tokenId');

  emailPasswordClient
    .confirmUser(token, tokenId)
    .then(() => displayResult('success'))
    .catch(err => displayResult('error', err))


	function success(){
		message.innerText = "Successfully created user. You may close this page.";
		return emailPasswordClient.confirmUser(token, tokenId);
	}

	function failure(){

	}

  function displayResult(result, err) {
    const message = document.getElementById("message");
    if (result === "success") {
			console.log('token = ' + token);
			console.log('tokenId = ' + tokenId);
			emailPasswordClient.confirmUser(token, tokenId);
      success();
    }
    else if (result === "error") {
      message.innerText = "Unable to register user.\n\n" + err;
    }
  }
</script>

</body>

</html>
