{{!< default}}

<!-- start site's main content area -->
<section class="content-wrap page-apply">
  <div class="page-container sidebar-layout">
    {{#post}}
      <main class="{{page-class}} main-content page">
        <h1>{{{title}}}</h1>
        {{#if feature_image}}
          <div class="post-image">
            <picture>
              <source media="(min-width: 1200px)" srcset="{{img_url feature_image size="large"}} 1x, {{img_url feature_image size="large_retina"}} 2x">
              <img alt="{{title}}" class="lazy" src="{{img_url feature_image}}">
            </picture>
          </div>
        {{/if}}
        <div class="page-content">
          {{content}}
          <div class="form">
            <form class="needs-validation" id="msform" accept-charset="UTF-8" action="https://getform.io/f/ce75696d-0ee2-4475-8a8f-a26da6267917" method="POST">
              <fieldset class="active">
                <h2>The Boring Stuff</h2>
                <p>Tell us about yourself by letting your browser auto-fill these obligatory fields.</p>
                <div class="split-fields">
                  <div class="input-field-group">
                    <label for="application_name">Full Name (required)</label>
                    <input id="application_name" class="form-control" maxlength="20" name="fullname" type="text" required="">
                  </div>
                  <div class="input-field-group">
                    <label for="application_email"> Email (required) </label>
                    <input id="application_email" placeholder="coolguy@yahoo.com" class="form-control" maxlength="30" name="email" type="email" required="" onblur="">
                  </div>
                  <div class="input-field-group">
                    <label for="application_username"> Nickname /Call Sign/ Gangsta Rap Persona </label>
                    <input id="application_username" placeholder="Mavrick" class="form-control" maxlength="30" name="nickname" type="text" onblur="">
                  </div>
                  <div class="input-field-group">
                    <label for="application__expertise"> What are your areas of expertise? (required) </label>
                    <input id="application__expertise" placeholder="Java, ASP, Perl" class="form-control" maxlength="100" name="expertise" type="text" required="" onblur="">
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <h2>The Juicy Stuff</h2>
                <p id="application_description">
                  Before we can let you into our temple, we need to make sure you're literate first. Please provide a writing sample where you've explained something technical, perferrably in the vein of Data Science and Engineering.
                </p>
                <div class="input-field-group">
                  <label for="application_sample"> Writing sample (required) </label>
                  <textarea class="form-control" aria-describedby="application_sample" id="application_submission_sample" name="writing_sample" required=""></textarea>
                </div>
              </fieldset>

              <fieldset>
                <h2>The Blow-Our-Minds Stuff (Optional)</h2>
                <p id="application_notes">
                  If you'd like to provide any of the information below to sweeten the deal, have it!
                </p>
                <div class="split-fields">
                  <div class="input-field-group">
                    <label for="application_website">Website</label>
                    <input class="form-control" placeholder="http://yoursite.com" id="application_website" maxlength="40" name="website" type="text" onblur="">
                  </div>
                  <div class="input-field-group">
                    <label for="application_blog">Blog</label>
                    <input class="form-control" id="application_blog" placeholder="https://medium.com/You" maxlength="40" name="blog" type="text" onblur="">
                  </div>
                  <div class="input-field-group">
                    <label for="application_github">Github</label>
                    <input class="form-control" id="application_github" placeholder="https://github.com/nerdinator" maxlength="40" name="github" type="text" onblur="">
                  </div>
                  <div class="input-field-group">
                    <label for="application_twitter">Twitter</label>
                    <input class="form-control" id="application_twitter" placeholder="https://twitter.com/YourHandle" maxlength="40" name="twitter" type="text" onblur="">
                  </div>
                </div>
              </fieldset>
              <button type="submit" label="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </main>
      {{> sidebar}}
  </div>
</section>
{{/post}}
<!-- end site's main content area -->

{{#contentFor "scripts"}}
  <script src="{{asset "js/pages.js"}}"></script>
  <script src="{{asset "js/apply.js"}}"></script>
{{/contentFor}}
