{{!< default}}

<!-- start site's main content area -->
<section class="content-wrap archive">
	<div class="page-container sidebar-layout">
		{{#post}}
			<main class="{{post_class}}">
				{{#if feature_image}}
					<img alt="{{title}}" class="featured-image lazy" data-src="{{img_url feature_image}}" data-rjs="2">
				{{/if}}
				<h1 class="page-title">{{{title}}}</h1>
				{{content}}
				<div class="author-container">
					{{#get "authors" limit="all" include="count.posts" order="count.posts desc" }}
						{{#foreach authors}}
							{{> author/author-card}}
						{{/foreach}}
					{{/get}}
				</div>
			</main>
		{{/post}}
		{{> sidebar}}
	</div>
</section>
<!-- end site's main content area -->

{{#contentFor "scripts"}}
	<script src="{{asset "js/pages.js"}}"></script>
{{/contentFor}}
