{{!< default}}

{{#contentFor "series_page"}}gh-head-transparent{{/contentFor}}
<div class="page-container sidebar-layout">

	<div class="main-content">
		{{#post}}
			<section class="{{post_class}} post-preview">
				<div class="page-head">
					<h1 class="page-title">{{{title}}}</h1>
				</div>
				<div class="post-content">
					{{content}}
				</div>
				<main class="tag-container">
					{{> cover-tag}}
					{{#get "tags" filter="feature_image:-null" include="count.posts,meta_title" order="count.posts desc" }}
						{{#foreach tags visibility="internal"}}
							<div class="tag-wrapper">
								<a href="{{slug}}">
									{{#if feature_image}}
										<picture>
											<source media="(min-width: 1200px)" srcset="{{img_url feature_image size="medium"}} 1x, {{img_url feature_image size="medium_retina"}} 2x">
											<img alt="{{title}}" class="lazy" src="{{img_url feature_image}}">
										</picture>
									{{/if}}
									<div class="description">
										<h2>{{title}}</h2>
										<p>{{description}}</p>
										<span class="postcount">{{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}</span>
									</div>
								</a>
							</div>
						{{/foreach}}
					{{/get}}
				</main>
	</div>
	{{/post}}
	{{> sidebar}}
</div>
</div>
{{#contentFor "scripts"}}
	<script async src="{{asset "js/series.js"}}"></script>
{{/contentFor}}
