{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap archive">
	{{> postheader}}
	<div class="container">
			<!-- start main post area -->
			{{> sidebar}}
			<div class=" main-content">
				<!-- start post -->
				{{#post}}
					<article class="{{post_class}} post-preview">
						<div class="page-head">
							<h1 class="page-title">{{{title}}}</h1>
						</div>
						<div class="post-content">
							{{content}}
						</div>
						<div class="tag-container">
							{{#get "tags" filter="feature_image:-null" include="count.posts,meta_title" order="count.posts desc" }}
								{{#foreach tags visibility="internal"}}
									<div class="tag-wrapper">
										<a href="{{slug}}">
											{{#if feature_image}}<div class="img-wrapper" style="background-image: url({{feature_image}})"></div>{{/if}}
											<div class="description">
												<h2>{{meta_title}}</h2>
												<p>{{description}}</p>
												<span class="postcount">{{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}</span>
											</div>
										</a>
									</div>
								{{/foreach}}
						{{/get}}
						</div>
			</div>
			</article>
			{{/post}}
			<!-- end post -->
		<!-- end main post area -->
	</div>
</section>
<!-- end site's main content area -->
