{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap archive">
	<div class="container">
		<div class="row">
			<!-- start main post area -->

			{{> sidebar}}
			<div class="col-md-8 main-content">
				<!-- start post -->
				{{#post}}
					<article class="{{post_class}}">
						{{#if feature_image}}
							<div class="featured-media" style="background-image: url({{feature_image}});">
							</div>
						{{/if}}
						<div class="post-head">
							<h1 class="post-title">{{{title}}}</h1>
						</div>
						<div class="post-content">
							{{content}}
							<div>
								<h2>Activity Feed</h2>
								<div class="feed"><img src="https://hackers.nyc3.digitaloceanspaces.com/load.gif"></div>
								<h2>Our Repositories</h2>
								<div class="repos"><img src="https://hackers.nyc3.digitaloceanspaces.com/load.gif"></div>
							</div>

						</div>

					</article>
				{{/post}}
				<!-- end post -->
			</div>
			<!-- end main post area -->
		</div>
	</div>
</section>
<script src="{{asset "/js/repos.js"}}"></script>
<!-- end site's main content area -->
