<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	<!-- Fonts -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">
	{{! Styles }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}">
	{{! Scripts }}
	<script type="text/javascript" src="{{@blog.url}}/public/ghost-sdk.min.js"></script>
	<script async src="{{asset "/js/includes/jquery.min.js"}}"></script>

	{{#is "post"}}
		<meta property="og:image" content="{{img_url feature_image}}">
	{{else}}
		<meta property="og:image" content="{{@blog.cover_image}}"/>
	{{/is}}
	{{> config}}
	{{> analytics}}
	{{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}


</head>
<body class="{{body_class}}">
	{{! insert header partial}}
	{{> header}}
	{{> signup}}

	{{{body}}}
</body>
	{{! insert footer partial}}

{{> footer}}
