<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}} | Data Science & Engineering</title>
	<meta name="HandheldFriendly" content="True" />
 	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	{{! Styles }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">
	{{! Scripts }}
	<!--<script src="{{asset "/webpack/my-webpack.bundle.js"}}"></script>-->
	<script src="{{asset "/js/includes/jquery.min.js"}}"></script>
	<script src="{{asset "/js/includes/retina.min.js"}}"></script>

	{{#is "post"}}
		<meta property="og:image" content="{{img_url feature_image}}">
	{{else}}
		<meta property="og:image" content="{{@blog.cover_image}}"/>
	{{/is}}
	{{> analytics}}
	{{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8VFCPW"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{{! insert header partial}}
	{{> newheader}}
	{{{body}}}
</body>
	{{> footer}}
</html>
