<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
 	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	{{! Styles }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}">
	{{! Scripts }}
	<script type="text/javascript" src="{{@blog.url}}/public/ghost-sdk.min.js"></script>
	<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.8/stitch.js"></script>
	<script async src="{{asset "/js/includes/jquery.min.js"}}"></script>
	<script type="text/javascript" src=<"{{asset ""/js/includes/retina.min.js"}}"></script>

	{{> mongodb}}

	{{#is "post"}}
		<meta property="og:image" content="{{img_url feature_image}}">
	{{else}}
		<meta property="og:image" content="{{@blog.cover_image}}"/>
	{{/is}}
	{{> config}}
	{{> analytics}}
	{{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}


</head>
<body class="{{body_class}}">
	{{! insert header partial}}
	{{> newheader}}
	{{> signup2}}

	{{{body}}}
</body>
	{{! insert footer partial}}

{{> footer}}
