<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- stylesheets -->
	{{! Styles'n'Scripts }}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700|Open+Sans:300,400,500" rel="stylesheet">
	<script defer src="https://pro.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-+1nLPoB0gaUktsZJP+ycZectl3GX7wP8Xf2PE/JHrb7X1u7Emm+v7wJMbAcPr8Ge" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/hl-styles/monokai_sublime.css"}}">
	<!-- only for demo -->
	<!-- <link rel="stylesheet" type="text/css" href="{{asset "demo-assets/css/colpick.css"}}"> -->
	{{! inserting theme config partial}}
	{{> config}}
	{{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
	{{! insert header partial}}
	{{> header}}

	{{{body}}}

	{{! insert footer partial}}

	{{#unless post}}{{> footer}}{{/unless}}
