<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	{{! Styles }}
	<link rel="stylesheet" href="https://use.typekit.net/okj4emy.css">
	<link rel="stylesheet" type="text/css" href="{{asset "/css/includes/fontawesome-all.min.css"}}">
	<!-- perhaps use this <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">-->
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
	{{! Scripts }}
	<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.8/stitch.js"></script>
	<script src="{{asset "/js/includes/jquery.min.js"}}"></script>
	<script src="{{asset "/js/includes/swiper.min.js"}}"></script>
	<script src="{{asset "/js/includes/secret.js"}}"></script>
	{{#is "post"}}
		<meta property="og:image" content="{{img_url feature_image}}">
	{{else}}
		<meta property="og:image" content="{{@blog.cover_image}}"/>
	{{/is}}

	{{! inserting theme config partial}}
	{{> config}}
	{{> analytics}}

	{{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}">
	{{! insert header partial}}
	{{> header}}

	{{{body}}}
</body>
	{{! insert footer partial}}

{{> footer}}
