<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}} | Data Science & Engineering</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	<meta name="theme-color" content="#0db0e2" />
	<link rel="shortcut icon" href="{{@site.icon}}" />

	{{! Scripts }}
	{{> lazyload}}
	<script src="{{asset "/js/includes/jquery.min.js"}}"></script>
	{{#is "post"}}
		<meta property="og:image" content="{{img_url feature_image}}">
		{{else}}
			<meta property="og:image" content="{{@site.cover_image}}" />
	{{/is}}
	{{> analytics}}
	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>

<body class="{{body_class}}">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8VFCPW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{{> header}}
	{{{body}}}
	{{> footer}}
	{{> scripts}}
	{{ghost_foot}}
</body>
</html>
