{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
{{> postheader}}
<section class="content-wrap">
	<div class="container">
		<div class="row">
			{{! insert sidebar partial}}
			{{> sidebar}}
			<!-- start main post area -->
			<div class="col-md-8 main-content">
				<!-- start post -->
				{{#post}}
				<article class="{{post_class}}">
					{{#if feature_image}}
					<div class="featured-media">
						<img src="{{feature_image}}" alt="{{{title}}}">
					</div>
					{{/if}}
					<div class="post-head">
						<h1 class="post-title">{{{title}}}</h1>
							<h4>{{excerpt}}</h4>
					</div>
					<div class="post-content">
						{{content}}
					</div>
				</article>
				{{/post}}
				<!-- end post -->
			</div>
			<!-- end main post area -->

		</div>
	</div>
</section>
<!-- end site's main content area -->
