{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
{{> postheader}}
<section class="content-wrap">

	<div class="container">
		<div class="row">
			{{#post}}
			<!-- start main post area -->
			<div class=" main-content">
				<!-- start post -->

				<article class="{{post_class}} post-page">
					{{#if feature_image}}
					<div class="featured-media">
						<img src="https://res.cloudinary.com/hackers-and-slackers/image/fetch/w_968,h_557,c_fit{{img_url feature_image absolute="true"}}" alt="{{{title}}}">
					</div>
					{{/if}}

					{{#primary_tag}}
					{{#if feature_image}}
					{{#get "posts" filter="primary_tag:" include="count.posts" order="published_at desc" }}
						{{count.posts}}
        {{/get}}
				{{/if}}
				{{/primary_tag}}



					<div class="post-head">
						<div class="post-meta">
							{{#primary_tag}}
									<span class="tags meta-item {{slug}}"><i class="fas fa-tags"></i> <span>{{name}}</span></span>
							{{/primary_tag}}
							{{#primary_author}}
								{{#unless profile_image}}
									<a href="{{url}}" class="meta-item author desktop"><i class="fas fa-user" style="width:13px; display:inline-block; margin-right:10px;"></i><span>{{name}}</span></a>
									<a href="{{url}}" class="meta-item author mobile"><i class="fas fa-user" style="width:13px; display:inline-block; margin-right:10px;"></i><span>{{slug}}</span></a>
								{{/unless}}
								{{#if profile_image}}
									<a href="{{url}}" class="meta-item author desktop"><img src="{{img_url profile_image}}" alt="Author image" class="avi"><span>{{name}}</span></a>
									<a href="{{url}}" class="meta-item author mobile"><img src="{{img_url profile_image}}" alt="Author image" class="avi"><span>{{slug}}</span></a>
								{{/if}}
							{{/primary_author}}
								<span class="date meta-item"><i class="fal fa-calendar"></i> <span>{{date format="MMM Do"}}</span></span>
								<span class="readtime meta-item"><i class="fal fa-eye"></i> <span>{{reading_time}}</span></span>
						</div>
						<h1 class="post-title">{{{title}}}</h1>
							<h4 class="excerpt">{{excerpt}}</h4>
					</div>



					{{#has tag="Roundup"}}
					<div class="post-roundup-blurb">
						<i class="fal fa-flask"></i>
						<p>Resident Scientist Snkia works tirelessly towards robot utopia. These are his findings.</p>
					</div>
					{{/has}}

					<div class="post-content">
						{{content}}
						<footer class="post-footer">
							<div class="tag-list">
								{{#if tags}}
									{{tags separator=""}}
								{{/if}}
							</div>
							<div class="share">
								{{! insert share_links partials}}
								{{> share_links}}
							</div>
						</footer>
					</div>
					{{> comments}}
				</article>

				{{> about-author}}
				{{#author include="count.posts"}}{{> author-card}}{{/author}}
				{{> prev-next}}
</div>
			<!-- end main post area -->

		</div>
	</div>
</section>

{{#has tag="Roundup"}}
	<script src="{{asset "/js/includes/previews.js"}}"></script>
{{/has}}
{{> analytics}}
{{/post}}
<!-- end post -->
<!-- end site's main content area -->
