{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	{{> postheader}}
	<div class="container">
		<div class="row">
			{{#post}}
			<!-- start main post area -->
			<div class="col-md-8 main-content">
				<!-- start post -->

				<article class="{{post_class}} post-page">
					{{#if feature_image}}
					<div class="featured-media">
						<img src="{{feature_image}}" alt="{{{title}}}">
					</div>
					{{/if}}
					<div class="post-head">
						<div class="post-meta">
							{{#primary_tag}}
									<span class="tags meta-item {{slug}}"><i class="fas fa-tags"></i> <span>{{name}}</span></span>
							{{/primary_tag}}
							{{#primary_author}}
								{{#unless profile_image}}
									<a href="{{url}}" class="meta-item author desktop"><i class="fas fa-user" style="width:13px; display:inline-block; margin-right:10px;"></i><span>{{name}}</span></a>
									<a href="{{url}}" class="meta-item author mobile"><i class="fas fa-user" style="width:13px; display:inline-block; margin-right:10px;"></i><span>{{slug}}</span></a>
								{{/unless}}
								{{#if profile_image}}
									<a href="{{url}}" class="meta-item author desktop"><img src="{{img_url profile_image}}" alt="Author image" class="avi"><span>{{name}}</span></a>
									<a href="{{url}}" class="meta-item author mobile"><img src="{{img_url profile_image}}" alt="Author image" class="avi"><span>{{slug}}</span></a>
								{{/if}}
							{{/primary_author}}
								<span class="date meta-item"><i class="fal fa-calendar"></i> <span>{{date format="MMM Do"}}</span></span>
								<span class="readtime meta-item"><i class="fal fa-eye"></i> <span>{{reading_time}}</span></span>
						</div>
						<h1 class="post-title">{{{title}}}</h1>
							<h4 class="excerpt">{{excerpt}}</h4>
					</div>



					{{#has tag="Roundup"}}
					<div class="post-roundup-blurb">
						<i class="fal fa-flask"></i>
						<p>Resident Scientist Snkia works tirelessly towards robot utopia. These are his findings.</p>
					</div>
					{{/has}}

					<div class="post-content">
						{{content}}
						<footer class="post-footer">
							<div class="tag-list">
								{{#if tags}}
									{{tags separator=""}}
								{{/if}}
							</div>
							<div class="share">
								{{! insert share_links partials}}
								{{> share_links}}
							</div>
						</footer>
					</div>

				</article>
				{{> comments}}
				{{> about-author}}
				{{> prev-next}}

			</div>
			<!-- end main post area -->

		</div>
	</div>
</section>
<!--
<style>
	.comment-form .body .textarea-container {
		margin: 0 !important;
		max-width: none;
	}
</style>
<script src="{{asset "/js/includes/comments.js"}}"></script><script>
commentBox('5681150794137600-proj', {
    className: 'commentbox', // the class of divs to look for
    defaultBoxId: 'commentbox', // the default ID to associate to the div
    tlcParam: 'tlc', // used for identifying links to comments on your page
    backgroundColor: '#fff', // default transparent
    textColor: '#505050', // default black
    subtextColor: null, // default grey
    /**
     * Creates a unique URL to each box on your page.
     *
     * @param {string} boxId
     * @param {Location} pageLocation - a copy of the current window.location
     * @returns {string}
     */
    createBoxUrl(boxId, pageLocation) {

        pageLocation.search = ''; // removes query string!
        pageLocation.hash = boxId; // creates link to this specific Comment Box on your page
        return pageLocation.href; // return url string
    },
    /**
     * Fires once the plugin loads its comments.
     * May fire multiple times in its lifetime.
     *
     */
    onCommentCount(count) {
			console.log(this);
    }
});

$(document).ready(function() {
	$('iframe').ready(function() {
		document.getElementById("commentbox").contentWindow.remove();
		console.log(box);
    $('iframe').contents().find('.branding').remove();
		var $head = $("iframe").contents().find("head");
$head.append($("<link/>",
    { rel: "stylesheet", href: "http://jsfiddle.net/css/dist-editor-dark.css?update_09_10_2018_1", type: "text/css" }));
});
});
</script>-->
{{#has tag="Roundup"}}
	<script src="{{asset "/js/includes/previews.js"}}"></script>
{{/has}}
{{> analytics}}
{{/post}}
<!-- end post -->
<!-- end site's main content area -->
