{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<div class="container">
	{{#post}}
		<!-- start main post area -->
		<article class="{{post_class}}">
			<div class="post-wrapper">
				<header>
					<h1 class="post-title">{{{title}}}</h1>
					<h4 class="excerpt">{{excerpt}}</h4>
					<!-- start responsive image -->
					{{#if feature_image}}
						<div class="featured-media">
							<picture>
								<source media="(min-width: 1200px)" srcset="{{img_url feature_image size="large"}} 1x, {{img_url feature_image size="large_retina"}} 2x">
								<source media="(min-width: 600px)" srcset="{{img_url feature_image size="medium"}} 1x, {{img_url feature_image size="medium_retina"}} 2x">
								<img alt="{{title}}" class="lazy" src="{{img_url feature_image}}">
							</picture>
						</div>
					{{/if}}
					<!-- end responsive image -->

					<!-- start post metadata -->
					<div class="post-meta">
						{{#primary_tag}}
							<span class="tags meta-item {{slug}}"><i class="fas fa-tags"></i> <span>{{name}}</span></span>
						{{/primary_tag}}
						{{#primary_author}}
							{{#unless profile_image}}
								<a href="{{url}}" class="meta-item author desktop"><i class="fas fa-user" style="width:13px; display:inline-block; margin-right:10px;"></i><span>{{name}}</span></a>
								<a href="{{url}}" class="meta-item author mobile"><i class="fas fa-user" style="width:13px; display:inline-block; margin-right:10px;"></i><span>{{slug}}</span></a>
							{{/unless}}
							{{#if profile_image}}
								<a href="{{url}}" class="meta-item author desktop"><img src="{{img_url profile_image absolute="true" size="small"}}" alt="{{slug}}'s Author image" class="avi"><span>{{name}}</span></a>
								<a href="{{url}}" class="meta-item author mobile"><img src="{{img_url profile_image absolute="true" size="small"}}" alt="{{slug}}'s Author image" class="avi"><span>{{slug}}</span></a>
							{{/if}}
						{{/primary_author}}
						<span class="date meta-item"><i class="fal fa-calendar"></i> <span>{{date format="MMM Do"}}</span></span>
						<span class="readtime meta-item"><i class="fal fa-eye"></i> <span>{{reading_time}}</span></span>
					</div>
				</header>
				<!-- end post metadata -->

        {{! Lists Table-of-Contents-Like list if post is in a series. }}
				{{> posts/postseries}}

        {{! Displays Roundup blurb if post has tag "roundup." }}
        {{> posts/roundup-blurb}}

				<!-- start content -->
				<div class="post-content">
					<main>
						{{content}}
					</main>
					<section class="post-footer">
						<div class="tag-list">
							{{#if tags}}
								{{tags separator=""}}
							{{/if}}
						</div>
						<div class="share">
							{{> posts/share-links}}
						</div>
                    </section>
				</div>
				<!-- end content -->
			</div>
		</article>
	<!-- end main post area -->
	{{> posts/postfooter}}
    {{#contentFor "scripts"}}
        <script async src="{{asset "js/posts.js"}}"></script>
        {{#has tag="Roundup"}}
            <script src="{{asset "js/previews.js"}}"></script>
        {{/has}}
    {{/contentFor}}
{{/post}}
</div>

<!-- end post -->
<!-- end site's main content area -->
