{{!< default}}

{{#post}}
	{{#if feature_image}}
		<div class="post-image lazy" style="background: url({{feature_image}})"> </div>
	{{/if}}
	<div class="post-wrapper">
		<article class="{{post_class}}">

			<div class="post-header">
				<div class="post-meta">
					{{#primary_tag}} <span class="primary-tag meta-item"><i class="fas fa-tag"></i> {{name}}</span> {{/primary_tag}}
					{{#primary_author}} <a href="{{url}}" class="meta-item author desktop"><i class="fas fa-user-edit"></i> {{name}}</a> {{/primary_author}}
					<span class="date meta-item"><i class="fas fa-calendar"></i> {{date format="MMM Do"}}</span>
					<span class="readtime meta-item"><i class="fas fa-eye"></i> {{reading_time}}</span>
				</div>
				<h1 class="post-title">{{{title}}}</h1>

				{{! Lists Table-of-Contents-Like list if post is in a series. }}
				{{> posts/postseries}}
			</div>



			<!-- start content -->
			<main class="post-content">

				{{! Displays Roundup blurb if post has tag "roundup." }}
				{{> posts/roundup-blurb}}
				{{content}}
				<section class="post-footer">
					<div class="tag-list"> {{#if tags}} {{tags separator=""}} {{/if}} </div>
				</section>
			</main>
			<!-- end content -->
		</article>
	</div>
	<!-- end main post area -->
	{{> posts/afterpost}}
	{{#contentFor "scripts"}}
		<script src="{{asset "js/posts.js"}}"></script>
		<script src="{{asset "js/includes/highlight.min.js"}}"></script>
		<script>
			hljs.configure({
				tabReplace: '  ', // 2 spaces
				//classPrefix: '' // don't append class prefix
			});
			hljs.initHighlightingOnLoad();
		</script>
	{{/contentFor}}
{{/post}}
