{{!< default}}

{{#post}}
	
	<div class="post-wrapper">
		<article class="{{post_class}}">
			{{#if feature_image}}
				<img src="{{feature_image}}" alt="{{{title}}}" class="post-image" />
			{{/if}}
			<div class="post-header">
				<div class="post-meta">
					{{#primary_tag}} <div class="primary-tag meta-item"><i class="fas fa-tag"></i> <span>{{name}}</span></div> {{/primary_tag}}
					{{#primary_author}} <a href="{{url}}" class="meta-item author desktop"><div><i class="fas fa-user-edit"></i> <span>{{name}}</span></div></a>{{/primary_author}}
          <div class="date meta-item"><i class="fas fa-calendar"></i> <span>{{date format="MMM Do"}}</span></div>
					<div class="readtime meta-item"><i class="fas fa-eye"></i> <span>{{reading_time}}</span></div>
				</div>
				<h1 class="post-title">{{{title}}}</h1>

				{{! Lists Table-of-Contents-Like list if post is in a series. }}
				{{> posts/postseries}}
			</div>

			<!-- start content -->
			<main class="post-content">
				{{! Displays Roundup blurb if post has tag "roundup." }}
				{{> posts/roundup-blurb}}
				{{content}}
				<section class="post-footer">
					<div class="tag-list"> {{#if tags}} {{tags separator=""}} {{/if}} </div>
				</section>
			</main>
			<!-- end content -->
		</article>
	</div>
	<!-- end main post area -->
	{{> posts/afterpost}}
	{{#contentFor "scripts"}}
		<script src="{{asset "js/posts.js"}}"></script>
		<script src="{{asset "js/includes/highlight.min.js"}}"></script>
		<script>
			hljs.configure({
				tabReplace: '  ', // 2 spaces
				//classPrefix: '' // don't append class prefix
			});
			hljs.initHighlightingOnLoad();
		</script>
	{{/contentFor}}
{{/post}}
