{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="container">
		<div class="row">
			<!-- start main post area -->
			<div class="col-md-8 main-content">
				<!-- start post -->
				{{#post}}
				<article class="{{post_class}}">
					<div class="post-head">
						<h1 class="post-title h2">{{{title}}}</h1>
						<div class="post-meta">
							<span class="author">{{authors}}</span> &bull;
							<span class="date">{{date format="MMMM DD, YYYY"}}</span> <!--&bull;
							<span class="comment-count"><a href="{{url}}#disqus_thread">0 Comments</a></span>-->
						</div>
					</div>
					{{#if feature_image}}
					<div class="featured-media">
						<img src="{{feature_image}}" alt="{{{title}}}">
					</div>
					{{/if}}
					<div class="post-content">
						{{content}}
					</div>
					<footer class="post-footer clearfix">
						<div class="pull-left tag-list">
							{{#if tags}}
							<i class="fa fa-folder-open-o"></i>
							{{tags separator=","}}
							{{/if}}
						</div>
						<div class="pull-right share">
							{{! insert share_links partials}}
							{{> share_links}}
						</div>
					</footer>
				</article>
				{{> about-author}}
				{{> prev-next}}
				{{/post}}
				<!-- end post -->
			</div>
			<!-- end main post area -->
			{{! insert sidebar partial}}
			{{> sidebar}}
		</div>
	</div>
</section>
<!-- end site's main content area -->
