{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="container">
		<div class="row">
			{{#post}}
			{{! insert sidebar partial}}
			{{> sidebar}}
			<!-- start main post area -->
			<div class="col-md-8 main-content">
				<!-- start post -->

				<article class="{{post_class}} post-page">
					{{#if feature_image}}
					<div class="featured-media">
						<img src="{{feature_image}}" alt="{{{title}}}">
					</div>
					{{/if}}
					<div class="post-head">
						<h1 class="post-title">{{{title}}}</h1>
						<h5>{{excerpt}}</h5>
						<div class="post-meta">
							<div class="date"><i class="fas fa-calendar"></i><span>{{date format="MMMM DD"}}</span></div>
						</div>
					</div>

					<div class="post-content">
						{{content}}
						<footer class="post-footer">
							<div class="tag-list">
								{{#if tags}}
									<div class="tag-cloud">{{tags separator=""}}</div>
								{{/if}}
							</div>
							<div class="share">
								{{! insert share_links partials}}
								{{> share_links}}
							</div>
						</footer>
					</div>

				</article>
				{{> about-author}}
				{{> prev-next}}

			</div>
			<!-- end main post area -->

		</div>
	</div>
</section>
{{#has tag="Roundup"}}
	<script src="{{asset "/js/secret.js"}}"></script>
	<script src="{{asset "/js/previews.js"}}"></script>
{{/has}}
{{> analytics}}
{{/post}}
<!-- end post -->
<!-- end site's main content area -->
