{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="container">
		<div class="row">
			{{#post}}
			{{! insert sidebar partial}}
			{{> sidebar}}
			<!-- start main post area -->
			<div class="col-md-8 main-content">
				<!-- start post -->

				<article class="{{post_class}}">
					<div class="post-head">
						<h1 class="post-title">{{{title}}}</h1>
						<h5>{{excerpt}}</h5>
						<div class="post-meta">
							<div class="author">{{#author}}<a href="{{url}}"><img src="{{img_url profile_image}}" alt="Author image" style="border-radius: 50%; display:inline-block;"> {{name}}</a>{{/author}}</div>
							<div class="date"><i class="fal fa-calendar"></i><span>{{date format="MMMM DD, YYYY"}}</span></div> <!--&bull;
							<span class="comment-count"><a href="{{url}}#disqus_thread">0 Comments</a></span>-->
						</div>
					</div>
					{{#if feature_image}}
					<div class="featured-media">
						<img src="{{feature_image}}" alt="{{{title}}}">
					</div>
					{{/if}}
					<div class="post-content">
						{{content}}
					</div>
					<footer class="post-footer clearfix">
						<div class="pull-left tag-list">
							<span class="author">{{#author}}<a href="{{url}}"><i class="far fa-user"></i></a><span>{{name}}</span>{{/author}}</span>
							<span class="date"><i class="fal fa-calendar"></i><span>{{date format="MMMM DD"}}</span></span>
							{{#if tags}}
							<i class="fal fa-tags"></i>
							{{tags separator=","}}
							{{/if}}
						</div>
						<div class="pull-right share">
							{{! insert share_links partials}}
							{{> share_links}}
						</div>
					</footer>
				</article>
				{{> about-author}}
				{{> prev-next}}

			</div>
			<!-- end main post area -->

		</div>
	</div>
</section>
{{#has tag="Roundup"}}
	<script src="{{asset "/js/secret.js"}}"></script>
	<script src="{{asset "/js/previews.js"}}"></script>
{{/has}}
{{> analytics}}
{{/post}}
<!-- end post -->
<!-- end site's main content area -->
