<!DOCTYPE html>
<html lang="{{lang}}" class="transactional">
<head >
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	{{! Styles }}
	<link rel="stylesheet" type="text/css" href="{{asset "/css/MyFontsWebfontsKit.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}">
</head>
<body class="transactional">
<!-- start site's main content area -->
<section>
	<div class="container">
		<!-- start post -->
		{{{body}}}
	</div>
	<!-- end main post area -->
</section>
</body>
</html>
<!-- end site's main content area -->
