<!-- Start Author Widget -->
{{#foreach authors}}
  <div class="about-author clearfix widget">
    <h4 class="title">Author</h4>
    {{#if profile_image}}
      <a href="{{url}}"><img data-src="{{img_url profile_image}}" alt="{{name}}'s avatar" class="avatar pull-left" data-rjs="2"></a>
    {{else}}
      <a href="{{url}}"><img data-src="{{asset "images/default-user-image.jpg"}}" alt="{{name}}'s avatar" class="avatar pull-left" data-rjs="2"></a>
    {{/if}}
    <div class="details">
      <div class="author">
        {{!--{{t "About"}}--}}<a href="{{url}}">{{name}}</a>
      </div>
      <div class="meta-info">
        {{!--<span class="post-count"><i class="fas fa-pencil"></i><a href="{{url}}">{{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}</a></span>--}}
        {{#if location}}
          <span class="location"><i class="fas fa-home"></i>{{location}}</span>
        {{/if}}
        {{#if website}}
          <span class="website"><a href="{{website}}" targer="_BLANK"><i class="fas fa-globe"></i>{{t "Website"}}</a></span>
        {{/if}}
        {{#if twitter}}
          <span class="twitter"><a href="{{twitter_url}}"><i class="fab fa-twitter"></i>{{twitter_url}}</a></span>
        {{/if}}
        {{#if facebook}}
          <span class="facebook"><a href="{{facebook_url}}"><i class="fab fa-facebook"></i></a></span>
        {{/if}}
      </div>
    </div>
    {{#if bio}}
      <div class="bio">
        {{{bio}}}
      </div>
    {{/if}}
  </div>
{{/foreach}}
<!-- End Author Widget -->
