<!-- Start Post Preview -->
{{#get "posts" filter="featured:true" include="tags,authors" limit="1" as |featured|}}
  {{#foreach featured}}
    <article class="widget featured-post-preview">

      {{#if feature_image}}
        <a href="{{url}}" class="post-image">
          <img class="featured-image lazyload" alt="{{title}}" loading="lazy" data-src="{{img_url feature_image}}" data-rjs="2">
        </a>
      {{/if}}
      <div class="post-preview-content">
        <div class="label">
          Featured
        </div>
      <a href="{{url}}">
        <h2 class="post-title">{{{title}}}</h2>
      </a>
      <div class="post-excerpt">{{excerpt words="60"}}</div>
      <div class="post-footer">
        {{#primary_author}}
          <img data-src="{{img_url profile_image}}" class="avatar">
        {{/primary_author}}
        <div class="read-time">
          {{reading_time}}
        </div>
      </div>
    </div>

    </article>
  {{/foreach}}
{{/get}}
<!-- End Post Preview -->
