<div class="seriespreview">
  <a href="/series/{{slug}}" title="{{name}}">
    <img alt="{{title}}" class="lazy series-image" loading="lazy" data-src="{{img_url feature_image}}">
      <div class="series-info">
        <h2 class="series-title">{{meta_title}}</h2>
        <p class="series-description">{{description}}</p>
        <span class="count">{{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}</span>
      </div>
  </a>
</div>
