<!-- Start Author Card -->
{{#foreach authors include="count.posts"}}
	<div class="about-author author-card-large clearfix">
		{{#if profile_image}}
			<a href="{{url}}" class="avatar"><img data-src="{{profile_image}}" alt="{{name}}'s' avatar" loading="lazy" class="lazy"></a>
		{{else}}
			<a href="{{url}}" class="avatar"><img data-sdata-src="{{asset "images/default-user-image.jpg"}}" alt="Default avatar image" loading="lazy" class="lazy"></a>
		{{/if}}
		<div class="details">
			<a href="{{url}}" class="author-name">{{name}}</a>
			<div class="meta">
				<span class="post-count"><i class="fas fa-pencil"></i><a href="{{url}}">{{#get "posts" include="count.posts"}}{{plural count.posts empty=(t "0 Posts") singular=(t "% Post") plural=(t "% Posts")}}{{/get}}</a></span>
				{{#if location}}
					<span class="meta-item location"><i class="fas fa-home"></i><span class="copy">{{location}}</span></span>
				{{/if}}
				{{#if website}}
					<span class="meta-item website"><a href="{{website}}" targer="_BLANK"><i class="fas fa-globe"></i><span class="copy">{{t "Website"}}</a></span></span>
				{{/if}}
				{{#if twitter}}
					<span class="meta-item twitter"><a href="{{twitter_url}}"><i class="fab fa-twitter"></i><span class="copy">{{twitter}}</a></span></span>
				{{/if}}
				{{#if facebook}}
					<span class="meta-item facebook"><a href="{{facebook_url}}"><i class="fab fa-facebook"></i>{{facebook}}</a></span>
				{{/if}}
			</div>
			{{#if bio}}
				<div class="bio"> {{{bio}}} </div>
			{{/if}}
		</div>
	</div>
{{/foreach}}
<!-- End Author Card -->
