<!-- Start Author Card -->
<div class="author-card-small {{slug}}">
  {{#if cover_image}}
    <div class="author-cover" style="background:url({{cover_image}})">
    </div>
  {{else}}
    <div class="author-cover">
    </div>
  {{/if}}
  <div class="author-specs">
    {{#if profile_image}}
      <a href="{{url}}" class="avatar-link"><img data-src="{{img_url profile_image}}" alt="{{name}}'s' avatar" loading="lazy" class="lazy avatar"></a>
    {{else}}
      <a href="{{url}}" class="avatar-link"><img data-src="{{asset "default-user-image.jpg"}}" alt="{{name}}'s' avatar" class="avatar"></a>
    {{/if}}
    <div class="details">
      <a class="author-name" href="{{url}}">{{name}}</a>
      <div class="meta-info">
        <span class="title"></span>
        <span class="post-count"><i class="fas fa-pencil"></i><a href="{{url}}">{{plural count.posts empty=(t "0 Posts") singular=(t "% Post") plural=(t "% Posts")}}</a></span>
        {{#if location}}
          <span class="location"><i class="fas fa-home"></i>{{location}}</span>
        {{/if}}
        {{#if website}}
          <span class="website"><i class="fas fa-globe"></i><a href="{{website}}" targer="_BLANK">{{website}}</a></span>
        {{/if}}
        {{#if twitter}}
          <span class="website"><i class="fab fa-twitter"></i><a href="{{twitter_url}}">{{twitter}}</a></span>
        {{/if}}
        {{#if facebook}}
          <span class="website"><i class="fab fa-facebook"></i><a href="{{facebook_url}}">Facebook</a></span>
        {{/if}}
      </div>
      {{#if bio}}
        <p class="bio"> {{bio}} </p>
      {{/if}}
    </div>
  </div>


  <div class="author-social">
    <ul class="author-icons">
      <!-- Twitter -->
      <li class="btn twitter">
        <a><i class="fab fa-twitter"></i></a>
      </li>
      <!-- Facebook -->
      <li class="btn facebook">
        <a><i class="fab fa-facebook"></i></a>
      </li>
      <!-- LinkedIn -->
      <li class="btn linkedin">
        <a><i class="fab fa-linkedin"></i></a>
      </li>
      <!-- Medium -->
      <li class="btn medium">
        <a><i class="fab fa-medium"></i></a>
      </li>
      <!-- Quora -->
      <li class="btn quora">
        <a><i class="fab fa-quora"></i></a>
      </li>
      <!-- GitHub -->
      <li class="btn github">
        <a><i class="fab fa-github"></i></a>
      </li>
      <!-- Pocket -->
      <li class="btn pocket">
        <a><i class="fab fa-get-pocket"></i></a>
      </li>
    </ul>
  </div>
</div>
<!-- End Author Card -->
