<!-- Start Author Cover -->
<div class="cover author-cover">
	{{#if profile_image}}
		<img src="{{profile_image}}" alt="{{name}}'s' avatar" class="avatar">
	{{/if}}
	<h1 class="author-name">
		{{name}}
	</h1>
	<div class="meta-info">
		<span class="meta-item post-count"><i class="fas fa-pencil"></i>{{#get "posts" limit="all" filter="authors:{{slug}}"}}{{plural posts.length empty=(t "0 Posts") singular=(t "% Post") plural=(t "% Posts")}}{{/get}}</span>
		{{#if location}}
			<span class="meta-item location"><i class="fas fa-map-marker-alt"></i>{{location}}</span>
		{{/if}}
		{{#if website}}
			<span class="meta-item website"><a href="{{website}}" target="_BLANK"><i class="fas fa-globe"></i> {{t "Website"}}</a></span>
		{{/if}}
		{{#if twitter}}
			<span class="meta-item twitter"><a href="{{twitter_url}}" target="_BLANK"><i class="fab fa-twitter"></i>{{twitter}}</a></span>
		{{/if}}
		{{#if facebook}}
			<span class="meta-item facebook"><a href="{{facebook_url}}" target="_BLANK"><i class="fa fa-facebook"></i>{{facebook}}</a></span>
		{{/if}}
	</div>
	{{#if bio}}
		<div class="bio">{{{bio}}}</div>
	{{/if}}
</div>
<!-- End Author Cover -->
